﻿<div class="card mt-4">
  <h4 class="card-header">Liste des utilisateurs</h4>
  <div class="card-body">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
      </tbody>
    </table>
  </div>
</div>
