﻿<div class="card mt-4">
  <h4 class="card-header">
    Liste des utilisateurs
    <button
      [routerLink]="['/user/new']"
      type="button"
      class="btn btn-dark float-right"
    >
      Nouvel utilisateur
    </button>
  </h4>
  <div class="card-body">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" [routerLink]="['/user/edit/' + user.id]">
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
